*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #e2f9f4;
}
h1.logo {
    text-align: center;
    color: blue;
    margin-top: 20px;
}
input.search{
    width: 500px;
    margin-left: 413px;
    margin-top: 12px;
    height: 33px;
    padding-left: 10px;
    box-shadow: 2px 2px 7px 0px gray inset;
    border: solid 2px gray;
    font-size: 24px;
    border-radius: 10px;
    outline: none;

}
input:focus{
    border: solid gray 3px;
    box-shadow: none;
}
.filterbtn {
    height: 40px;
    width: 130px;
    background-color: #9ee2d8;
    color: blue;
    border: solid 2px blue;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
}
.filterbtn:hover{
    cursor: pointer;
    transition: 1s;
    background-color: blue;
    color: white;
}
.fiter {
    margin-left: 540px;
    margin-top: 28px;
}
.UsersUI {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}
img#imgs {
    height: 281px;
    border-radius: 29px;
}
.mndiv{
    position: relative;
}
#name {
    position: absolute;
    bottom: 21px;
    list-style: none;
    color: #000505;
    font-size: 17px;
    font-weight: bold;
    margin-left: 63px;
    padding: 6px 16px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px 7px 4px #f9ed3c;
    display: none;
    background-color: #afafc3;
    word-wrap: break-word;
}
li{
    list-style: none;
}

i{
    font-weight: 900;
    font-size: 250px;
    color: #c410ff;
    margin-left: 550px;
}
.activ{
    background-color: blue;
    color: white;
}
.view{
    height: 50px;
    width: 150px;
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: blue;
    border: 0;
    color: white;
    text-transform: capitalize;
    font-size: 21px;
    border-radius: 6px;
}


/* UserDetails styles */

.userContainer{
    position: relative;
}
.userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    text-align: center;
    color: #000051;
    margin-top: 80px;
    border: solid 3px blue;
    padding: 31px 20px 31px 1px;
    width: 50%;
    box-shadow: 4px 4px 7px 0px gray;
    margin-left: 390px;
}
img#userImg {
    width: 160px;
    border: solid 2px #b80095;
    margin: auto;
}
.leftarrow {
    font-size: 40px;
    position: absolute;
    right: 911px;
    top: 2px;
}
